# ── Environment Variables (.env) ───────────────────────────────────────────────
# Rename this file to ".env" and fill in the values to connect to your broker's API. These are used by the "Get Historical Data" notebook, and may be used in future notebooks as well.
# To get this you must apply for a cTrader API key - use your Pepperstone account for this
CLIENT_ID=
SECRET=
HOST_TYPE=
ACCESS_TOKEN=
ACCOUNT_ID=

# Optional: directory to save cloud logs (e.g. from Weights & Biases). If left blank, logs will be saved locally in the "logs/" directory.
CLOUD_LOG_DIR=